@import "__variables.scss";

input, select{
  width: 100%;
  height: 45px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 5px;
  padding: 0 13px;
}

input:focus-visible{
  outline: none;
}

input:focus{
  border: 1px solid $secondary;
  padding: 0 12px;
}

label{
  font-size: 18px;
  font-weight: bold;
  color: $primary;
  margin-top: 15px;
}

input, select, textarea {
  box-shadow: rgba(0,0,0,0.2) 2px 2px 3px;
}