@import "bootstrap/scss/bootstrap";
@import "./_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body, html, #app {
  height: 100%;
  width: 100%;
}

.modal-box { 
  h1 {
    font-size: 28px;
    font-weight: 600;
    color: $primary;
    margin-bottom: 30px;
    text-align: center;
  }
}

.btn-tst{
  background: $secondary;
  padding: 2% 2.5%;
  font-size: 1rem;
  border-radius: 5px;
  height: 12%;
  min-height: 50px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: all 1.5s;
  gap: 10px;
  border: none;
  margin-top: 5px;
}

.btn-delete{
  background: $danger;
  padding: 2% 2.5%;
  font-size: 1rem;
  border-radius: 5px;
  height: 12%;
  min-height: 50px;
  display: flex;
  align-items: center;
  font-weight: 600;
  //transition: all 1.5s;
  //gap: 10px;
  border: none;
  margin-top: 5px;
}