@import "_variables";

textarea {
  width: 45%;
  height: 150px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 5px;
  padding: 0 2%;
}

textarea:focus-visible{
  outline: none;
}

textarea:focus{
  border: 1px solid $secondary;  
}